  
  .scene {
    width: 260px;
    height: 200px;
    perspective: 1000px;
    position: relative;
  }
  .scene .carousel.keen-slider {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
  }
  .carousel__cell {
    position: absolute;
    width: 240px;
    left: 10px;
    height: 200px;
  }
  

  @media screen and (max-width: 768px) {
    .scene {
      perspective:300px ;
      width: 160px;
      height: 300px;
    }
    .carousel__cell{
      width: 150px;
    }
  }



.lock-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e6a56f;
  }
